<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Isometric Game Programming in HTML5 Canvas Part 1</title>
        <link rel="stylesheet" type="text/css" href="public/blackbirdjs/blackbird.css"></link>
        <style type="text/css" media="screen">
            body {
                font-family: Helvetica, Arial, sans-serif;
                font-size: 10pt;
                background: #000;
            }
            h1 {
                text-align: center;
                text-shadow: 0 2px 1px #fff;
            }
            .cocos2d-app {
                border: 1px solid #000;
                width: 800px;
                height: 600px;
                display: block;
                float: left;
                -webkit-box-shadow: 0 3px 10px rgba(100, 100, 100, 0.75);
                -moz-box-shadow:    0 3px 10px rgba(100, 100, 100, 0.75);
                -o-box-shadow:      0 3px 10px rgba(100, 100, 100, 0.75);
                box-shadow:         0 3px 10px rgba(100, 100, 100, 0.75);
            }
            #container {
                margin: 0 auto;
                width: 1105px;
            }
        </style>
        <script type="text/javascript" src="public/blackbirdjs/blackbird.js"></script>
        <script type="text/javascript">
            var startTime = new Date();
        </script>
    </head>
    <body>
        <div id="container">
            <div class="cocos2d-app">
                Loading Isometric Game Programming in HTML5 Canvas Part 1...
                ${scripts}
            </div>
        </div>
    </body>
</html>
